<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
    <header>
        <div class="top-menu">
            <div>
                <img src="/images/Gyel-EWC-logo.png" alt="logo" id="logo">
                <h1 class="title">Gyel Essay Competition<sub>Unleash Your Imagination</sub></h1>
            </div>
            <nav class="page-links">
                <ul class="nav-links">
                    <li id="gallery">
                        <a href="/">Home</a>
                        <a href="/gallery">Gallery</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
   <section class="main">
    <div class="photoshoot">
        <div class="Photos">
            <img src="/images/Gyel-EWC-flyer2.jpg" alt="flyer">
            <p>A flyer</p>
        </div>
        <div class="Photos">
            <img src="/images/Gyel-EWC-logo.png" alt="flyer">
            <p>A flyer</p>
        </div>
        <div class="Photos">
            <img src="/images/Gyel-EWC-flyer.jpg" alt="flyer">
            <p>A flyer</p>
        </div>
        <div class="Photos"></div>
        <div class="Photos"></div>
        <div class="Photos"></div>
        <div class="Photos"></div>
        <div class="Photos"></div>
        <div class="Photos"></div>
    </div>
    
   </section>
   <footer>
    <div class="contacts">
        <div class="land">
            <pre>Faith Computers and prints,
        1st floor ECWA Building, 
        Rahol-Kak, Gyel.
        Jos, Plateau State.
            </pre>
        </div>
        <div>
            <pre>
                +23400000000
                +23400000000
            </pre>
            <p>facebook.com/Gyel-EWC</p>
            <p>iGyel-EWC@<i>pinInterest</i></p>
            <p>X.com/Gyel-EWC</p>
        </div>
    </div>
    <p>&copy; 2023 Gyel Essay Competition</p>
</footer>
</body>
</html>