<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="logo-banner">
                <img id="logo" src="/images/Gyel-EWC-logo.png" alt="logo">
                <h1 class="title">Gyel Essay Writing Competition</h1><sub>Unleash Your Imagination</sub>
            </div>
            <nav class="page-links">
                <ul class="nav-links">
                    <li id="gallery">
                        <a href="/">Home</a>
                        <a href="/gallery">Gallery</a>
                    </li>
                </ul>
            </nav>
        </div>   
    </header>
    <div class="head">
        <h1>Welcome to the Gyel Essay Writing Competition</h1>
        <p>Unleash Your Imagination: Craft Your Ideas Through Creative Expression in Writing!</p>
    </div>
    <section class="main-content">
        <h2>About the Competition</h2>
        <p>Are you an SSS2 or SSS3 student and also an indigene of Gyel looking forward to creatively express yourself in elaborate essays? If you are, then the Gyel Essay Writing Competition is for you. Join other students in the race to win exciting prices as you express yourself in writing.
        </p>
        <div class="req-block">
            <h2 id="eligibility">Eligibility</h2>
            <p>To participate in the Gyel Esay Writing Competition, one must:</p>
            <ul class="requirements">
                <li>Be an indigene of Gyel District of Jos South LGA of Plateau State.</li>
                <li>Must be an SSS2 or SSS3 student.</li>
            </ul>
        </div>
        <div class="guidelines">
            <h2>Guidelines</h2>
            <ul>
                <li>Theme: "Exploring New Horizons"</li>
                <li>Word Limit: 1000 words</li>
                <li>Submission Deadline: 31/09/2023</li>
            </ul>
            <a href="/register" class="btn">Register</a>
        </div>
    </section>
    <div>
        <img id="flyer" src="/images/Gyel-EWC-flyer2.jpg" alt="competition flyer">
    </div>
    <footer>
        <div class="contacts">
            <div class="land">
                <pre>Faith Computers and prints,
            1st floor ECWA Building, 
            Rahol-Kak, Gyel.
            Jos, Plateau State.
                </pre>
            </div>
            <div>
                <pre>
                    +23400000000
                    +23400000000
                </pre>
                <p>facebook.com/Gyel-EWC</p>
                <p>iGyel-EWC@<i>pinInterest</i></p>
                <p>X.com/Gyel-EWC</p>
            </div>
        </div>
        <p>&copy; 2023 Gyel Essay Competition</p>
    </footer>
</body>
</html>